.auth-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* MAIN BOX */
.auth-box {
    background: white;
    padding: 18px;
    border-radius: 14px;
    width: 420px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

/* SCROLL AREA */
.form-scroll {
    max-height: 55vh;
    /* Scroll height */
    overflow-y: auto;
    padding-right: 5px;
}

/* Inputs */
.form-scroll input,
.form-scroll select {
    width: 100%;
    padding: 9px;
    margin: 6px 0;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 14px;
}

/* Title */
.blue-text {
    color: #2563eb;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.center-text {
    text-align: center;
    font-size: 13px;
    color: #6b7280;
    margin-bottom: 10px;
}

/* ROLE BUTTONS */
.role-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.role-btn {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid #2563eb;
    background: white;
    color: #2563eb;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.role-btn.active {
    background: #2563eb;
    color: white;
}

.role-btn:hover {
    background: #2563eb;
    color: white;
}

/* Register Button */
.auth-btn {
    width: 100%;
    background: #2563eb;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.auth-btn:hover {
    background: #1e40af;
}

/* Close */
.close-btn {
    text-align: center;
    color: red;
    margin-top: 8px;
    cursor: pointer;
    font-size: 14px;
}