.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 8%;
    background: #f7f9fc;
    min-height: 80vh;
}

/* LEFT TEXT */
.hero-left {
    flex: 1;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: bold;
    color: #111827;
}

.hero-left h1 span {
    color: #2563eb;
}

.hero-left p {
    margin-top: 15px;
    font-size: 16px;
    color: #6b7280;
    max-width: 450px;
}

/* SEARCH BAR */
.search-box {
    margin-top: 25px;
    display: flex;
    background: white;
    padding: 8px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.search-box input {
    border: none;
    outline: none;
    flex: 1;
    padding: 10px;
    font-size: 14px;
}

.search-box button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

/* RIGHT IMAGE */
.hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-right img {
    width: 600px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}