.hero {
    height: 90vh;
    background-size: cover;
    display: flex;
    align-items: center;
}

.overlay {
    background: rgba(10, 102, 194, 0.6);
    color: white;
    padding: 40px;
    margin-left: 50px;
    border-radius: 10px;
}

.hero-btn {
    background: white;
    color: #0a66c2;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 6px;
}