.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: white;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 54px;
}

.nav-center a {
    margin: 0 15px;
    font-weight: 500;
}

.btn {
    background: #0a66c2;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    margin-left: 10px;
}