.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    background: white;
    position: relative;
}

/* LEFT */
.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo {
    height: 40px;
    width: auto;
}

/* CENTER */
.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.app-title {
    font-weight: 600;
}

.blue-i {
    color: #007bff;
}

/* RIGHT */
.nav-right {
    display: flex;
    gap: 10px;
    margin-right: 30px;
}

.nav-right button {
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid #007bff;
    background: white;
    cursor: pointer;
    font-size: 14px;
}

.nav-right .signup {
    background: #007bff;
    color: white;
}